h1 {
font-family: Verdana, sans-serif;
font-size: 40em;
font-weight: bolder;
}


#pero {
font-variant: small-caps;
}


p.all {
font-family: Tahoma, serif;
font-size: 12em;
font-weight: lighter;
}


